* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(66, 66, 66);
	color: white;
}

button {
	margin: 20px 30px;
	padding: 5px 10px;
	font-size: 32px;
	color: rgb(69, 69, 69);
	border: none;
	border-radius: 5px;
	text-shadow: rgb(2, 2, 2) 3px 3px 5px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	font-family: 'Source Code Pro', monospace;
	text-shadow: rgb(0, 0, 0) 1px 0 10px;
	letter-spacing: 4px;

}

h1 {
	margin: 50px 0;

}

main div {

	font-size: 32px;
	font-weight: bold;
}